<!-- <table-generic [count]="count" [displayedColumns]="displayedColumns" [definedColumns]="definedColumns" [searchColumns]="searchColumns"
               [canShowSearch]="true"
               [data]="users" [isAction]="true" [datatrigger]="datatrigger" (editRow)='edit($event)'
               (paginate)='onPaginate($event)' (deleteRow)='deleteConfirm($event)'>

</table-generic> -->
<app-common-table
  [count]="count"
  [displayedColumns]="displayedColumns"
  [definedColumns]="definedColumns"
  [searchColumns]="searchColumns"
  [canShowSearch]="true"
  [data]="users"
  [isAction]="true"
  [datatrigger]="datatrigger"
  (editRow)="edit($event)"
  (paginate)="onPaginate($event)"
  (deleteRow)="deleteConfirm($event)"
>
</app-common-table>
