<section class="pr-section pr-breadcrumbs-sec">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="pr-breadcrumb breadcrumb st">
        <li class="breadcrumb-item"><a class="st" >Inventory</a></li>
        <li class="breadcrumb-item"><a class="st" href="inventory/product-return-farmer">Product Return Farmer</a></li>
        <li class="breadcrumb-item"><a class="st" href="inventory/product-return-farmer/add">Add</a></li>
      </ol>
    </nav>
  </div>
</section>
<br/>
<section class="pr-section">
  <div class="add-training-selec-blk common-box box-shadow bg-white br14">
    <div class="row">
      <div class="col-12">
        <h4 class="m-ttl">General Information</h4>
      </div>
    </div>
    <form [formGroup]="productReturnFarmerForm">
      <div class="pr-dashed-table-wrap px-0 mb-0 row pr-dashed-div">
        <div class="col-3">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="fromPicker" formControlName="date" />
            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
            <mat-datepicker #fromPicker></mat-datepicker>
            <mat-error *ngIf="basic.date.hasError('required')">Date Required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3" >
          <app-multi-select #seasonMultiSelect  label="Season" [options]="seasons" [(dropDownValue)]="selectedSeason" isMultiSelect="false" [isSubmit]="isSubmit" isRequired="true"></app-multi-select>
        </div>
        <div class="col-3">
          <p class="p">Is Stock From MobileUser or Warehouse</p>
          <div class="pr-custom-switch switcher col-3 inner-child">
            <input type="checkbox" class="custom-control-input" id="test1" value="" checked  (change)="changeStock()"
              formControlName="stockType">
            <label for="test1">
              <span class="cir"><small></small></span>
              <small>&nbsp;</small>
            </label>
          </div>
        </div>
        <ng-container *ngIf="productReturnFarmerForm?.value?.stockType==true">
          <div class="col-3" >
            <app-multi-select #warehouseMultiSelect  label="Warehouse" [options]="warehouses" [(dropDownValue)]="selectedWarehouse" isMultiSelect="false" [isSubmit]="isSubmit" isRequired="true"></app-multi-select>
          </div>
        </ng-container>
        <ng-container *ngIf="productReturnFarmerForm?.value?.stockType==false">
          <div class="col-3">
            <app-multi-select #mobileUserMultiSelect  label="Mobile User" [options]="mobileUsers" [(dropDownValue)]="selectedMobileUser" isMultiSelect="false" [isSubmit]="isSubmit" isRequired="true"></app-multi-select>
          </div>
        </ng-container>
        <div class="col-3">
          <p class="p">Is Registered Farmer?</p>
          <div class="pr-custom-switch switcher col-3">
            <input type="checkbox" class="custom-control-input" id="test3" value="" checked (change)="changeFarmer()"
              formControlName="farmerType">
            <label for="test3">
              <span class="cir"><small></small></span>
              <small>&nbsp;</small>
            </label>
          </div>
        </div>
        <ng-container *ngIf="productReturnFarmerForm?.value?.farmerType==true">
          <div class="col-3">
            <app-multi-select label="Farmer" [options]="farmers" [(dropDownValue)]="selectedFarmer" #farmerMultiSelect isMultiSelect="false" [isSubmit]="isSubmit" isRequired="true"></app-multi-select>
          </div>
          <div class="col-3">
            <app-multi-select label="Taluk" [options]="taluks" [(dropDownValue)]="selectedTaluk" #talukMultiSelect isMultiSelect="false" [isSubmit]="isSubmit" isRequired="true"></app-multi-select>
          </div>
        </ng-container>
        <div class="col-3">
          <app-multi-select label="Village" [options]="villages" [(dropDownValue)]="selectedVillage" #villageMultiSelect isMultiSelect="false" [isSubmit]="isSubmit" isRequired="true"></app-multi-select>
        </div>
        <ng-container *ngIf="productReturnFarmerForm?.value?.farmerType==false">
          <div class="col-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Farmer Name</mat-label>
              <input matInput type="text" name="farmerName" formControlName="farmerName" />
            </mat-form-field>
          </div>
        </ng-container>
        <ng-container *ngIf="!productReturnFarmerForm?.value?.farmerType">
          <div class="col-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Mobile Number</mat-label>
              <input matInput type="text" name="mobileNumber" formControlName="mobileNumber" />
            </mat-form-field>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</section>
<br />

<section class="pr-section add-training-selec-sec" style="margin-top: 2%;">
  <div class="row">
    <div class="col-12">
      <div class="add-training-selec-blk common-box box-shadow bg-white br14">
        <div class="row">
          <div class="col-12">
            <h4 class="m-ttl">Product Return Details</h4>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-2" >
                <app-multi-select #categoryMultiSelect isMultiSelect="false" [options]="categories" label="Category" [isSubmit]="isSubmit" isRequired="false" [(dropDownValue)]="category" (dropDownValueChange)="getProductByCategory($event)"></app-multi-select>
              </div>
              <div class="col-2" >
                <app-multi-select #productMultiSelect isMultiSelect="false" [options]="subCategories" label="Product" [isSubmit]="isSubmit" isRequired="false" [(dropDownValue)]="subCategory" (dropDownValueChange)="getUnitAndStock($event)"></app-multi-select>
              </div>
              <div class="col-2">
                <mat-form-field appearance="fill">
                  <mat-label>Unit</mat-label>
                  <input matInput type="text" name="unit" [(ngModel)]="unit" readonly="true">
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="fill">
                  <mat-label>Return Quantity</mat-label>
                  <input matInput type="text" name="returnQuantity" [(ngModel)]="returnQuantity">
                </mat-form-field>
              </div>
              <div class="col-2">
                <button class="btn bttn-primary bttn-add st" data-toggle="tooltip" data-placement="top" title="Add"
                  (click)="addProductReturnFarmerInformation()">+</button>
              </div>
            </div>
            <div *ngIf="showProductReturnFarmerDetails">
            <app-product-return-farmer-detail #productReturnFarmerDetail [data]="productReturnFarmerDetails" [datatrigger]="datatrigger" (editRow)='edit($event)'
              (deleteRow)='deleteConfirm($event)'>
            </app-product-return-farmer-detail>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<br />

<div class="col-3 align-self-center" style="margin-top: 1%; margin-bottom: 1%;">
  <div class="row">
    <div class="col-6">
      <button class="btn bttn-primary st mr-3" data-toggle="modal" data-target="#saveAddedRoles" (click)="save()">
        Save
      </button>
    </div>
    <div class="col-6">
      <button class="btn bttn-primary-outline st mr-0" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
