<div class="modal-header no-header">
  <h1 class="page-ttl">{{title}}</h1>
  <div type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </div>
</div>

<form [formGroup]="subCategoryForm">
  <div class="modal-body">
    <div class="form-group">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name<span class="text-danger"></span></mat-label>
        <input matInput type="text" formControlName="name" required>
          <mat-error *ngIf="basic.name.hasError('required')">Name Required</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="form-group col-lg-6">
        <app-multi-select #categoryMultiSelect isMultiSelect="false" [options]="categories" label="Category" [isSubmit]="isSubmit" isRequired="true" [(dropDownValue)]="selectedCategory"></app-multi-select>
      </div>

      <div class="form-group col-lg-6">
        <app-multi-select #catalogueMultiSelect isMultiSelect="false" [options]="catalogues" label="Unit" [isSubmit]="isSubmit" isRequired="true" [(dropDownValue)]="selectedCatalogue"></app-multi-select>
      </div>

      <div class="form-group col-lg-12">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Price<span class="text-danger"></span></mat-label>
          <input matInput type="text" name="price" formControlName="price">
          <mat-error *ngIf="basic.price.hasError('required')">Price Required</mat-error>
          <mat-error *ngIf="basic.price.hasError('maxLength')">Price Should not exceed Limit</mat-error>
          <mat-error *ngIf="basic.price.hasError('pattern')">Price should be in Number</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group text-right mb-0">
        <button class="btn btn-primary waves-effect waves-light mr-1" type="submit" (click)="submitForm()">
          Submit
        </button>
        <button (click)="cancel()" class="btn btn-secondary waves-effect waves-light">
          Cancel
        </button>
      </div>
    </div>
    </div>
</form>
