<section class="pr-section pr-breadcrumbs-sec">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="pr-breadcrumb breadcrumb st">
        <li class="breadcrumb-item"><a class="st" >Procurement</a></li>
        <li class="breadcrumb-item"><a class="st" href="procurement/product-reception">Product Reception</a></li>
        <li class="breadcrumb-item"><a class="st" href="procurement/product-reception/add">Add</a></li>
      </ol>
    </nav>
  </div>
</section>
<section class="pr-section add-training-selec-sec">
  <div class="row">
    <div class="col-12">
      <div class="add-training-selec-blk common-box box-shadow bg-white br14">
        <div class="row">
          <div class="col-12">
            <h4 class="m-ttl">General Information</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="pr-dashed-table-wrap px-0 mb-0">
              <form [formGroup]="productReceptionForm">
                <div class="pr-dashed-table-wrap px-0 mb-0 row pr-dashed-div">
                  <div class="col-3">
                    <app-multi-select isMultiSelect="false" #receiverWareHouseMultiSelect [options]="warehouses" label="Receiver Warehouse" [isSubmit]="isSubmit" isRequired="true" [(dropDownValue)]="selectedReceiverWarehouse" (dropDownValueChange)="changeWarehouse($event)"></app-multi-select>
                  </div>
                  <div class="col-3" *ngIf="receipts.length > 0">
                    <app-multi-select isMultiSelect="false" #transferReceiptMultiSelect [options]="receipts" label="Receipt Number" [isSubmit]="isSubmit" isRequired="true" [(dropDownValue)]="selectedReceiptNumber" (dropDownValueChange)="changeReceipt($event)"></app-multi-select>
                  </div>
                  <div class="col-3">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Date</mat-label>
                      <input matInput [matDatepicker]="fromPicker" formControlName="productReceptionDate">
                      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                      <mat-datepicker #fromPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Truck Id</mat-label>
                      <input matInput type="text" name="truckId" formControlName="truckId" />
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Driver name</mat-label>
                      <input matInput type="text" name="driverName" formControlName="driverName" />
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pr-section product-recp-sec">
  <div class="row">
    <div class="col-12">
      <div class="add-training-selec-blk common-box box-shadow bg-white br14">
        <div class="row">
          <div class="col-12">
            <h4 class="m-ttl">Product Reception</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="pr-dashed-table-wrap px-0 mb-0">
              <app-product-reception-detail
              #productReceptionDetails
               *ngIf="isProductReceptionDetails" [data]="productReceptionDetails"
               (saveRow)='onSave($event)'
                (deleteRow)='deleteConfirm($event)'>
              </app-product-reception-detail>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="col-3 align-self-center">
  <div class="row">
    <div class="col-6">
      <button class="btn bttn-primary st mr-3" data-toggle="modal" data-target="#saveAddedRoles" (click)="save()">
        Save
      </button>
    </div>
    <div class="col-6">
      <button class="btn bttn-primary-outline st mr-0" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
