<!-- <p>
  payment-list works!
</p> -->
<!-- <table-generic [count]="count" [displayedColumns]="displayedColumns" [definedColumns]="definedColumns"
               [searchColumns]="searchColumns" [canShowSearch]="true" [data]="payments" [isAction]="false"
               [datatrigger]="datatrigger" (editRow)='edit($event)' (paginate)='onPaginate($event)'
               (searchEvent)='onSearch($event)' >

</table-generic> -->

<app-common-table [count]="count" [displayedColumns]="displayedColumns" [definedColumns]="definedColumns"
               [searchColumns]="searchColumns" [canShowSearch]="true" [data]="payments" [isAction]="false"
               [datatrigger]="datatrigger" (editRow)='edit($event)' (paginate)='onPaginate($event)'
               (searchEvent)='onSearch($event)' >

</app-common-table>


<!-- <div class="pr-modal modal right fade" id="trainingDetailModal" #trainingDetailModal data-keyboard="false" tabindex="-1"
     aria-labelledby="trainingDetailModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="trainingDetailModalLabel">Payment Detail</h5>
          <button type="button" class="close bttn-close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Close">&times;</span>
          </button>
          <div class="actn-wrap">
            <button class="btn bttn-primary bttn-edit st" data-toggle="tooltip" data-placement="top" title="Edit" (click)="edit(detailId)">
              <span><img class="img-abs st" src="assets/images/icons/edit-white-ico.png" alt="edit"></span>
            </button>
            <span class="p p-14 btn_txt">Edit</span>
            <span class="p p-14 btn_txt">Delete</span>
          </div>
        </div>

        <div class="modal-body">
          <div>

            <div class="row">
              <div class="col-12">
                <div class="pr-dashed-table-wrap px-0 mb-0">


                    <div class="col-3">
                      <p class="p">Date</p>
                      <b class="sec_ttl">{{paymentDetail?.date}}</b>
                    </div>
                    <div class="col-3">
                      <p class="p">Farmer</p>
                      <b class="sec_ttl">{{paymentDetail?.farmer?.name}}</b>
                    </div>
                    <div class="col-3" >
                      <p class="p">Mobile User</p>
                      <b class="sec_ttl">{{paymentDetail?.mobileUser?.name}}</b>
                    </div>
                    <div class="col-3">
                      <p class="p">Village</p>
                      <b class="sec_ttl">{{paymentDetail?.village?.name}}</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
     </div> -->

