
<!-- <table-generic [count]="count" [displayedColumns]="displayedColumns" [definedColumns]="definedColumns"
               [searchColumns]="searchColumns" [canShowSearch]="true" [data]="farmers" [isAction]="true" [isDetail]="true"
               [datatrigger]="datatrigger" (editRow)='edit($event)' (paginate)='onPaginate($event)' (detailRow)="detail($event)"
               (searchEvent)='onSearch($event)' (deleteRow)='deleteConfirm($event)'>
</table-generic> -->

<app-common-table [count]="count" [displayedColumns]="displayedColumns" [definedColumns]="definedColumns"
               [searchColumns]="searchColumns" [canShowSearch]="true" [data]="farmers" [isAction]="true" [isDetail]="true"
               [datatrigger]="datatrigger" (editRow)='edit($event)' (paginate)='onPaginate($event)' (detailRow)="detail($event)"
               (searchEvent)='onSearch($event)' (deleteRow)='deleteConfirm($event)'>
</app-common-table>

<div class="pr-modal modal right fade" id="trainingDetailModal" #trainingDetailModal data-keyboard="false" tabindex="-1"
     aria-labelledby="trainingDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="trainingDetailModalLabel">Farmer Detail</h5>
        <button type="button" class="close bttn-close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Close">&times;</span>
        </button>
        <div class="actn-wrap">
          <button class="btn bttn-primary bttn-edit st" data-toggle="tooltip" data-placement="top" title="Edit" (click)="edit(detailId)">
            <span><img class="img-abs st" src="assets/images/icons/edit-white-ico.png" alt="edit"></span>
          </button>
          <span class="p p-14 btn_txt">Edit</span>
          <button class="btn bttn-danger bttn-remove st" data-toggle="tooltip" data-placement="top" title="Remove" (click)="deleteConfirm(detailId)">
            <span><img class="img-abs st" src="assets/images/icons/delete-white-ico.png" alt="remove"></span>
          </button>
          <span class="p p-14 btn_txt">Delete</span>
        </div>
      </div>

      <div class="modal-body">
        <div>

          <div class="row">
            <div class="col-12">
              <div class="pr-dashed-table-wrap px-0 mb-0">

                <div class="pr-dashed-table-wrap px-0 mb-0 row pr-dashed-div">
                  <div class="col-3">
                    <p class="p">Name</p>
                    <b class="sec_ttl">{{farmerDetail?.name}}</b>
                  </div>
                  <div class="col-3">
                    <p class="p">Last Name</p>
                    <b class="sec_ttl">{{farmerDetail?.lastName}}</b>
                  </div>
                  <div class="col-3">
                    <p class="p">Email Id</p>
                    <b class="sec_ttl">{{farmerDetail?.emailId}}</b>
                  </div>
                  <div class="col-3">
                    <p class="p">MobileNumber</p>
                    <b class="sec_ttl">{{farmerDetail?.mobileNumber}}</b>
                  </div>
                  <div class="col-3">
                    <p class="p">Father Name</p>
                    <b class="sec_ttl">{{farmerDetail?.fatherName}}</b>
                  </div>
                  <div class="col-3">
                    <p class="p">IsActive</p>
                    <b class="sec_ttl">{{farmerDetail?.isActive}}</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- <div class="col-12">
        <div class="pr-dashed-table-wrap bg-white border border-primary br21">
          <table class="pr-dashed-table">
            <tbody>
              <tr>
                <td>S.No</td>
                <td>Product</td>
                <td>Variety</td>
                <td>Grade</td>
                <td>Price</td>
                <td>Quantity</td>
              </tr>
              <tr *ngFor="let detail of cropSaleDetail?.cropSaleDetails; let i = index" [attr.data-index]="i">
                <td>
                  <h6 class="sec_ttl">{{i+1}}</h6>
                </td>
                <td>
                  <h6 class="sec_ttl">{{detail?.grade?.variety?.crop?.name}}</h6>
                </td>
                <td>
                  <h6 class="sec_ttl">{{detail?.grade?.variety?.name}}</h6>
                </td>
                <td>
                  <h6 class="sec_ttl">{{detail?.grade?.name}}</h6>
                </td>
                <td>
                  <h6 class="sec_ttl">{{detail?.grade?.price}}</h6>
                </td>
                <td>
                  <h6 class="sec_ttl">{{detail?.quantity}}</h6>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div> -->
    </div>
  </div>
  </div>
