<section class="pr-section pr-breadcrumbs-sec">
  <div class="row">
    <div class="col-12 align-self-start">
      <nav aria-label="breadcrumb">
        <ol class="pr-breadcrumb breadcrumb st">
          <li class="breadcrumb-item"><a class="st" href="#">Farmer</a></li>
          <li class="breadcrumb-item"><a class="st" href="#">Farm Management</a></li>
          <li class="breadcrumb-item active" aria-current="page">Farm Plottting</li>
        </ol>
      </nav>
    </div>
  </div>
</section>

<section class="pr-section farm-location-sec">
  <div class="row mx-0">
    <div class="col px-0">
      <h1>Angular Google Maps (AGM) Demo</h1>
      <p><a href="https://angular-maps.com/" target="_blank">Official Website</a></p>



    </div>
  </div>
</section>
