<!--<div class="pr-section card">
  <section class="pr-section yield-estm-sec">
    <div class="row">
      <div class="col-12">
        <div class="pr-accordion-big-wrap">
          <div class="pr-accordion-big box-shadow st br21">
            <div class="pr-accordion-big-header">
              <button class="btn btn-primary br0 st" type="button" aria-expanded="true">
                <span class="ico br14 bg-colr2">-->
                  <!--<img class="img-abs st"
                       src="assets/images/icons/farmer-accordion-ico.png" alt="ico">-->
                <!--</span>
                <span class="txt">Farmer Details</span>
              </button>
            </div>
            <div class="pr-accordion-big-body">
              <div class="collapse show">
                <div class="collapse-body p-0">
                  <div class="row">
                    <div class="col-12">
                      <div class="pr-dashed-table-wrap px-0 mb-0">-->
                        <!--<table class="pr-dashed-table">
                          <tbody>
                            <tr>
                              <td>
                                <p class="p">Date</p>
                                <h6 class="sec_ttl">11st Jan 2019</h6>
                              </td>
                              <td>
                                <p class="p">Farmer Name</p>
                                <h6 class="sec_ttl">White Fly</h6>
                              </td>
                              <td>
                                <p class="p">Farm Name</p>
                                <h6 class="sec_ttl">EVP - Rural & Market</h6>
                              </td>
                              <td>
                                <p class="p">Est. Harvest</p>
                                <h6 class="sec_ttl">11st Jan 2019</h6>
                              </td>
                              <td>
                                <p class="p">Created User</p>
                                <h6 class="sec_ttl">Vishnu</h6>
                              </td>
                              <td>
                                <p class="p">Season</p>
                                <h6 class="sec_ttl">Rabi</h6>
                              </td>
                              <td>
                                <p class="p">Latitude & Longitude</p>
                                <h6 class="sec_ttl">11.0387408 76.9826151</h6>
                              </td>
                              <td>
                                <p class="p">Sowing Date</p>
                                <h6 class="sec_ttl">11st Jan 2018</h6>
                              </td>
                            </tr>
                          </tbody>
                        </table>-->
                        <!--<div class="pr-dashed-table row">
                          <div col-3 style="border-bottom: 2px dashed #E6E7EA;">
                            <p class="p">Date</p>
                            <h6 class="sec_ttl">11st Jan 2019</h6>
                          </div>
                          <div col-3>
                            <p class="p">Date</p>
                            <h6 class="sec_ttl">11st Jan 2019</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="btn btn-primary" *ngIf="isEdit">
      Edit
    </div>
    <div class="btn  btn-danger" *ngIf="isDelete">
      Edit
    </div>
    <div class="btn btn-secondary">
      Back
    </div>
  </div>
</div>-->
