.maps-info-blk-wrap{
  width: 25%;
}

h5{
  margin: 0 0 0 !important;
}

.ico-blk{
  margin-top: -7%;
}

.pr-sidebar-active{
  margin-left: 0px !important;
}
.filter-btn{
  background-color: white !important;
  color: #212F3D;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 150px;
}
.not-found{
  padding: 20px;
  text-align: center;
  align-items: center;
}
