<div class="modal-header no-header">
  <h1 class="page-ttl">{{title}}</h1>
  <div type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </div>
</div>

<form [formGroup]="villageForm">
  <div class="modal-body">
    <div class="row">

      <div class="form-group col-lg-6">
        <app-multi-select #countryMultiSelect isMultiSelect="false" [options]="countries" label="Country" [isSubmit]="isSubmit" isRequired="true" [(dropDownValue)]="selectedCountry" (dropDownValueChange)='changeState($event)'></app-multi-select>
    </div>
    <div class="form-group col-lg-6">
        <app-multi-select #stateMultiSelect isMultiSelect="false" [options]="states" label="State" [isSubmit]="isSubmit" isRequired="true" [(dropDownValue)]="selectedState" (dropDownValueChange)='changeDistrict($event)'></app-multi-select>
    </div>
    <div class="form-group col-lg-6">
        <app-multi-select #districtMultiSelect isMultiSelect="false" [options]="districts" label="District" [isSubmit]="isSubmit" isRequired="true" [(dropDownValue)]="selectedDistrict" (dropDownValueChange)='changeTaluk($event)'></app-multi-select>
    </div>
    <div class="form-group col-lg-6">
        <app-multi-select #talukMultiSelect isMultiSelect="false" [options]="taluks" label="Taluk" [isSubmit]="isSubmit" isRequired="true" [(dropDownValue)]="selectedTaluk"></app-multi-select>
    </div>
      <div class="form-group col-lg-12">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Name<span class="text-danger"></span></mat-label>
          <input matInput type="text" name="name" formControlName="name" >
        <mat-error *ngIf="basic.name.hasError('required')">Name Required</mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="modal-footer">
      <div class="form-group text-right mb-0">
        <button class="btn btn-primary waves-effect waves-light mr-1" type="submit" (click)="submitForm()">
          Submit
        </button>
        <button (click)="cancel()" class="btn btn-secondary waves-effect waves-light">
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
