<div class="modal-header no-header">
  <h1 class="page-ttl">{{title}}</h1>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="catalogueForm">
  <div class="modal-body">
    <div class="form-group" >
      <app-multi-select #catalogueMultiSelect isMultiSelect="false" [options]="catalogueTypes" label="Catalogue Type" [isSubmit]="isSubmit" isRequired="true" [(dropDownValue)]="selectedCatalogueType"></app-multi-select>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name<span class="text-danger"></span></mat-label>
        <input matInput type="text" name="name" formControlName="name" >
        <mat-error *ngIf="basic.name.hasError('required')"><sup>*</sup>Name Reqiured</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-slide-toggle formControlName="isActive">Active/In-active</mat-slide-toggle>
    </div>

  </div>
</form>
<div class="modal-footer">
  <div class="form-group text-right mb-0">
    <button class="btn btn-primary waves-effect waves-light mr-1" type="submit" (click)="submitForm()">
      Submit
    </button>
    <button (click)="cancel()" class="btn btn-secondary waves-effect waves-light">
      Cancel
    </button>

  </div>
</div>

