<!-- <div class="col-12 margin-top-spacer ">
  <section class="pr-section crop-harvest-sec">
    <div class="col align-self-center">
      <div class = "row">
        <div class="crop-harvest-blk" *ngFor="let card of cardArray">
          <a href={{card?.linkTo}}>
            <div class="media crop-blk-horizontal">
              <div class="crop-blk-img">
                <img class="st" [src]="card?.icon" alt="icon">
              </div>
              <div class="media-body">
                <h4 class="crop-nm">{{card?.value}}</h4>
                <p class="p">{{card?.label}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  </div>
<br/>
<section class="pr-section crop-harvest-sec">
  <div class="col align-self-center">
    <div  class="row" #charts id="charts"></div>
  </div>
</section> -->

<section class="pr-section crop-harvest-sec">
  <div class="col align-self-center">
    <iframe frameborder=0 width="100%" height="1500" src="https://analytics.zoho.in/open-view/198496000000410017"></iframe>
  </div>
</section>



