<div class="modal-header no-header">
  <h1 class="page-ttl">Farm Equipment Information</h1>
  <div type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
 <form [formGroup]="farmInformationForm">
  <div class="modal-body">
    <div class="row">
    <div class="col-lg-6">
        <app-multi-select #farmTypeMultiSelect isMultiSelect="false" [options]="farmTypes" label="Farm Equipments"
        [isSubmit]="isSubmit" isRequired="true" [(dropDownValue)]="selectedFarmType"></app-multi-select>
      </div>

      <div class="form-group col-lg-6">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Farm Equipment Item Count</mat-label>
          <input matInput type="text" name="vehicleCount" formControlName="vehicleCount">
          <mat-error *ngIf="basic.vehicleCount.hasError('required')">Please enter Farm Equipment Item Count</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group text-right mb-0">
      <button class="btn btn-primary waves-effect waves-light mr-1" type="submit" (click)="save()">
        Add
      </button>
      <button (click)="cancel()" class="btn btn-secondary waves-effect waves-light">
        Cancel
      </button>
    </div>
  </div>
 </form>
