<section class="pr-section pr-breadcrumbs-sec">
    <div class="row">
        <div class="col-12 align-self-start">
            <nav aria-label="breadcrumb">
                <ol class="pr-breadcrumb breadcrumb st">
                    <li class="breadcrumb-item"><a class="st" href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Instructions</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="pr-section pr-title-section">
    <div class="row">
        <div class="col-12">
            <h1 class="page-ttl">Instructions</h1>
        </div>
    </div>
</section>

<section class="pr-section plugin-list-sec">
    <div class="row">
        <div class="col-12">
            <div class="pr-card box-shadow br21 st">

                <div class="row">
                    <div class="col-12">

                        <ul class="list-unstyled plugin_list pt-4">
                            <li class="media">
                                <div class="media-body align-self-center">
                                    <div class="plugin_list_inner pl-4">
                                        <p class="p-15 text-dark1">Download the zip file Angular zip file</p>
                                        <p class="p-15 text-dark1">Run cmd in folder</p>
                                        <hr class="hr-dashed">
                                        <p class="p-15 text-dark1">$ npm install <span class="text-dark2">(to install plugins)</span></p>
                                        <p class="p-15 text-dark1">$ npm start</p>
                                    </div>                                                               
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body align-self-center">
                                    <div class="plugin_list_inner pl-4">
                                        <p class="p-15 text-dark1">The header & footer is added commonly & called in app.component</p>
                                        <p class="p-15 text-dark1">All the routes given in router module</p>
                                    </div>                                                               
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body align-self-center">
                                    <div class="plugin_list_inner pl-4">
                                        <p class="p-15 text-dark1">Create a new page/component & add it in routing</p>
                                        <p class="p-15 text-dark1">Add the sections here</p>
                                        <p class="p-15 text-dark1">Header & Footer will be added from app.component as common everywhere</p>
                                    </div>                                                               
                                </div>
                            </li>
                        </ul>
                                                                 
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>